<div style="background: white;">
    <NavLink href="login">Login</NavLink>
    <NavLink href="registration">Registration</NavLink>
    <NavLink href="profile">Profile</NavLink>
    <NavLink href="topusers">TopUsers</NavLink>
    <NavLink href="topclubs">TopClubs</NavLink>
    <NavLink href="club">Club</NavLink>
    <NavLink>User</NavLink>
</div>