<div class="completedTask">
    <div class="taskImg">
        <img id="logoTask" src="./img/logo.png" alt="">
    </div>
    <div class="aboutTask">
        <div class="mark">
            <h1 id="nameTask">
                Наименование | 100500XP
            </h1>
        </div>
        <p class="infoTask" id="infoTask">
            очень длинное описание какой-нибудь фигни
        </p>
    </div>
    <div class="taskXP">
        <img class="userPerscentIcon" src="./img/user-perscent.png" alt=""/>
        <p>
            100%
        </p>
    </div>
</div>