<div class="achievement completed">
    <img class="picture" src="./img/logo.png" alt="">
    <div class="about">
        <h3 class="title">
            Выполнить достижение
        </h3>
        <p class="description">
            Очень длинное описание как выполнить данное достижение
        </p>
    </div>
    <div class="spec">
        <p class="xp">+1000 XP</p>
        <div class="perscent">
            <span class="perscentValue">67</span>
            <img class="perscentIcon" src="./img/user-perscent.png" alt=""/>
        </div>
    </div>
</div>