<div class="achievement completed">
    <img class="picture" src="./img/logo.png" alt="">
    <div class="about">
        <h3 class="title">
            Выполнить достижение
        </h3>
        <p class="description">
            Очень длинное описание как выполнить данное достижение
        </p>
        <p class="text">XP: 1000</p>
        <p class="text">Процент выполнения: 100</p>
    </div>
</div>