@page "/club"
@layout MainLayout

<!------------------------------------------------------------------------->
<!-- topOneClub - это класс по топу, есть еще классы для 2/3 и ниже мест -->
<!------------------------------------------------------------------------->
<header>
    <div id="profileSlogan">
        <div id="header-cont">
            <div id="arrowExit">
                <a href="topclubs"><img src="/image/back_icon.png" alt=""></a>
            </div>
            <div id="club-name-cont">
                <span id="club"><b>Клуб Название</b></span>
            </div>
        </div>
    </div>
    <div class="topOneClub">
        <div class="heading-wrapper">
            <div class="clubPositionLogo">
                <span id="clubPosition">#1</span>
                <img src="./img/logo.png" alt="">
            </div>
        </div>
    </div>
</header>
<main>
    <div class="historyClub">
        <h3>История клуба:</h3>
        <p id="textHistoryClub">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p id="adressHistoryClub">ул. Долгобродская 24</p>
    </div>
    <div class="topThreeUsers">
        <div class="topThreeUsersHead">
            <h3>Топ <b>3</b> пользователей </h3>
        </div>
        <div class="topOneUser">
            <div class="userImage">
                <img src="./img/logo.png" alt="">
            </div>
            <div class="userAboutWrapper">
                <div class="nameSurnameUser">
                    <span>Имя Фамилия</span>
                </div>
                <div class="xpCountUser">
                    <span>1337 XP</span>
                </div>
            </div>
            <div class="ClubLogoAndPositionUser">
                <div class="topPositionUser">
                    <span>#1</span>
                </div>
            </div>
        </div>
    </div>
</main>