    @page "/profile"
@layout MainLayout

<header>
    <div class="exitLink">
        <a href="login">
            <img id="exitImg" src="./img/logout-icon.png" alt="" />
        </a>
    </div>


    <div class="heading-wrapper">
    </div>

    <div class="userProfile">
        <div class="userImage">
            <input type="file" id="changePhotoInput" class="changePhotoInput" accept="image/jpeg,image/png,image/webp" />
            <label for="changePhotoInput" class="changePhotoText">
                <img id="userProfileImg" src="./img/logo.png" alt="">
            </label>
            <div class="userId">
                <p id="nameSurname">Имя Фамилия</p>
            </div>
        </div>
        <div class="clubImage">
            <img id="clubImg" src="./img/logo.png" alt="">
            <a id="locate" href="club"><p id="clubName">Клуб Название</p></a>
        </div>
    </div>
</header>
<button id="acceptList" onclick="">
    <img id="qr-code-img" src="./img/qr-code.png" alt="qr-code"/>
</button>
<main>
    <div class="generalInfo">
        <!--XP SUM-->
        <div class="xp">
            <h1 id="XPLevel">100500 ХР</h1>
            <p id="XPSlogan">Общее количество опыта</p>
        </div>
        <hr id="hr">
        <div class="task">
            <!--Completed Count-->
            <h1 id="allTasks">Заданий выполнено: 100 из 100</h1>
            <!--Completed Ratio (%)-->
            <p id="tasksSlogan">Выполнено 100%</p>

            <div class="progress-container">
                <div class="progress-bar" style="width: @ProgressPercentage%;"></div>
            </div>
        </div>
    </div>
    <!---It's generalInfo -->
    <div class="completed" id="completed">
        <h1 id="completedTasks">Выполненные </h1>
    </div>
    <div class="achievement-list">
        <Achievement />
        <Achievement />
        <Achievement />
    </div>
    <!------------task completed------------------------->
    <div class="notCompleted" id="notCompleted">
        <h1 id="notCompletedTasks">Невыполненные </h1>
    </div>
    <div class="achievement-list">
        <Achievement />
        <Achievement />
        <Achievement />
        <Achievement />
        <Achievement />
    </div>
</main>

@code {
    private int ProgressPercentage { get; set; } = 0;
}