@page "/profile"
@using System.Reflection
@layout MainLayout

<header>
    <div class="exitLink">
        <a href="login">
            <img id="exitImg" src="./img/logout-icon.png" alt="" />
        </a>
    </div>


    <div class="heading-wrapper">
    </div>

    <div class="userProfile">
        <div class="userImage">
            <input type="file" id="changePhotoInput" class="changePhotoInput" accept="image/jpeg,image/png,image/webp" />
            <label for="changePhotoInput" class="changePhotoText">
                <img id="userProfileImg" src="./img/logo.png" alt="">
            </label>
            <div class="userId">
                <p id="nameSurname">Имя Фамилия</p>
            </div>
        </div>
        <div class="clubImage">
            <img id="clubImg" src="./img/logo.png" alt="">
            <a id="locate" href="club"><p id="clubName">Клуб Название</p></a>
        </div>
    </div>
</header>
<button id="acceptList" onclick="">
    <img id="qr-code-img" src="./img/qr-code.png" alt="qr-code" @onclick="OpenModal" />
</button>
<main>
    <div class="generalInfo">
        <!--XP SUM-->
        <div class="xp">
            <h1 id="XPLevel">100500 ХР</h1>
            <p id="XPSlogan">Общее количество опыта</p>
        </div>
        <hr id="hr">
        <div class="task">
            <!--Completed Count-->
            <h1 id="allTasks">Заданий выполнено: 100 из 100</h1>
            <!--Completed Ratio (%)-->
            <p id="tasksSlogan">Выполнено 100%</p>

            <div class="progress-container">
                <div class="progress-bar" style="width: @ProgressPercentage%;"></div>
            </div>
        </div>
    </div>
    <!---It's generalInfo -->
    <div class="completed" id="completed">
        <h1 id="completedTasks">Выполненные </h1>
    </div>
    <div class="achievement-list">
        <Achievement />
        <Achievement />
        <Achievement />
    </div>
    <!------------task completed------------------------->
    <div class="notCompleted" id="notCompleted">
        <h1 id="notCompletedTasks">Невыполненные </h1>
    </div>
    <div class="achievement-list">
        <Achievement />
        <Achievement />
        <Achievement />
        <Achievement />
        <Achievement />
    </div>
</main>

<ModalWindow @ref="modal" IsVisible="@isModalVisible" IsVisibleChanged="OnModalVisibilityChanged">
    <div class="modal-header">
        <img id="modal-userImg" src="./img/logo.png" alt="user-logo"/>
        <h2 id="modal-nameSurname">Имя Фамилия</h2>
    </div>
    <h3 id="achieve-count">Достижений: 666</h3>
    <div class="modal-achievements">
        <div class="modal-achieve">
            <img src="./img/logo.png" alt="achive-logo"/>
            <h3>Название достижения</h3>
        </div>
        <div class="modal-achieve">
            <img src="./img/logo.png" alt="achive-logo"/>
            <h3>Название достижения</h3>
        </div>
        <div class="modal-achieve">
            <img src="./img/logo.png" alt="achive-logo" />
            <h3>Название достижения</h3>
        </div>
        <div class="modal-achieve">
            <img src="./img/logo.png" alt="achive-logo" />
            <h3>Название достижения</h3>
        </div>
    </div>
    <div class="qr-code">
        <img src="./img/qr-code(1).png" alt="qr-code"/>
    </div>
    <h3 id="show-qrcode">Покажите QR-код тренеру для выполнения выбранных достижений</h3>
</ModalWindow>

@code {
    private int ProgressPercentage { get; set; } = 0;

    private ModalWindow modal;
    private bool isModalVisible;

    private void OpenModal()
    {
        isModalVisible = true;
    }

    private void OnModalVisibilityChanged(bool isVisible)
    {
        isModalVisible = isVisible;
    }
}