@page "/registration"

<header>
    <div id="title">
        <h1>Зарегистрируйтесь</h1>
        <select class="change-lang">
            <option value="ru">RU</option>
            <option value="en">EN</option>
            <option value="pl">PL</option>
        </select>
    </div>
    <div id="subtitle">
        <h3>
            <span>или</span>
            <a href="login">войдите в аккаунт</a>
        </h3>
    </div>
</header>
<main>
    <div id="login-form">
        <div class="field">
            <label class="input-label">Выберите клуб</label>
            <select class="select">
                <option value="ru">Двойной Чикаго</option>
                <option value="en">Дворец</option>
            </select>
        </div>
        <div class="field">
            <label class="input-label">Имя</label>
            <input class="input is-error" type="text" placeholder="Введите имя...">
            <p class="error">Обязательно для заполнения</p>
        </div>
        <div class="field">
            <label class="input-label">Фамилия</label>
            <input class="input is-error" type="text" placeholder="Введите фамилию...">
            <p class="error">Обязательно для заполнения</p>
        </div>
        <div class="field">
            <label class="input-label">E-mail</label>
            <input class="input is-error" type="text" placeholder="email@mail.com">
            <p class="error">Обязательно для заполнения</p>
        </div>
        <div class="field">
            <label class="input-label">Пароль</label>
            <input class="input" type="password" placeholder="•••••••••">
            <p class="error">Обязательно для заполнения</p>
        </div>
        <div class="field">
            <label class="input-label">Подтверждение пароля</label>
            <input class="input" type="password" placeholder="•••••••••">
            <p class="error">Обязательно для заполнения</p>
        </div>
        <button type="submit" id="login-button">Зарегистрироваться</button>
    </div>


</main>