@page "/topclubs"
@layout MainLayout
@inject NavigationManager _navigation

<header>
    <div class="heading-wrapper">
        <div id="profileSlogan">
            <span>Рейтинг клубов</span>
        </div>
    </div>
</header>
<!-----------------------------------header----------------------------------------->
<main>
    <div class="topUsers">
        <a class="clubWidth">
            <div class="topClub">
                <div class="userImageTop">
                    <img src="./img/logo.png" alt="">
                </div>
                <div class="userAboutWrapper">
                    <div class="nameSurnameUser">
                        <span>Клуб название</span>
                    </div>
                    <div class="xpCountUser">
                        <span>Средний опыт: 1337</span>
                    </div>
                </div>
                <div class="ClubLogoAndPositionUser">
                    <div class="topPositionUser">
                        <span>#1</span>
                    </div>
                </div>
            </div>
        </a>
        <a class="clubWidth">
            <div class="topClub">
                <div class="userImageTop">
                    <img src="./img/logo.png" alt="">
                </div>
                <div class="userAboutWrapper">
                    <div class="nameSurnameUser">
                        <span>Клуб название</span>
                    </div>
                    <div class="xpCountUser">
                        <span>Средний опыт: 1337</span>
                    </div>
                </div>
                <div class="ClubLogoAndPositionUser">
                    <div class="topPositionUser">
                        <span>#2</span>
                    </div>
                </div>
            </div>
        </a>
        <a class="clubWidth">
            <div class="topClub">
                <div class="userImageTop">
                    <img src="./img/logo.png" alt="">
                </div>
                <div class="userAboutWrapper">
                    <div class="nameSurnameUser">
                        <span>Клуб название</span>
                    </div>
                    <div class="xpCountUser">
                        <span>Средний опыт: 1337</span>
                    </div>
                </div>
                <div class="ClubLogoAndPositionUser">
                    <div class="topPositionUser">
                        <span>#3</span>
                    </div>
                </div>
            </div>
        </a>
        <a class="clubWidth">
            <div class="topClub">
                <div class="userImageTop">
                    <img src="./img/logo.png" alt="">
                </div>
                <div class="userAboutWrapper">
                    <div class="nameSurnameUser">
                        <span>Клуб название</span>
                    </div>
                    <div class="xpCountUser">
                        <span>Средний опыт: 1337</span>
                    </div>
                </div>
                <div class="ClubLogoAndPositionUser">
                    <div class="topPositionUser">
                        <span>#4</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</main>
<!-----------------------------------main----------------------------------------->