@page "/topusers"
@layout MainLayout

<header>
    <div class="heading-wrapper">
        <div id="profileSlogan">
            <span>Топ <b>100</b> пользователей</span>
        </div>
    </div>
</header>
<!-----------------------------------header----------------------------------------->
<main>
    <div class="topUsers">
        <div class="topUser">
            <div class="userImage">
                <img src="./img/logo.png" alt="">
            </div>
            <div class="userAboutWrapper">
                <div class="nameSurnameUser">
                    <span>Имя Фамилия</span>
                </div>
                <div class="xpCountDefaultUser">
                    <span>1337 XP</span>
                </div>
            </div>
            <div class="ClubLogoAndPositionUser">
                <div class="clubUserLogo">
                    <img src="./img/logo.png" alt="">
                </div>
                <div class="topPositionUserDefault">
                    <span>#1</span>
                </div>
            </div>
        </div>
        <div class="topUser">
            <div class="userImage">
                <img src="./img/logo.png" alt="">
            </div>
            <div class="userAboutWrapper">
                <div class="nameSurnameUser">
                    <span>Имя Фамилия</span>
                </div>
                <div class="xpCountDefaultUser">
                    <span>1337 XP</span>
                </div>
            </div>
            <div class="ClubLogoAndPositionUser">
                <div class="clubUserLogo">
                    <img src="./img/logo.png" alt="">
                </div>
                <div class="topPositionUserDefault">
                    <span>#1</span>
                </div>
            </div>
        </div>
        <div class="topUser">
            <div class="userImage">
                <img src="./img/logo.png" alt="">
            </div>
            <div class="userAboutWrapper">
                <div class="nameSurnameUser">
                    <span>Имя Фамилия</span>
                </div>
                <div class="xpCountDefaultUser">
                    <span>1337 XP</span>
                </div>
            </div>
            <div class="ClubLogoAndPositionUser">
                <div class="clubUserLogo">
                    <img src="./img/logo.png" alt="">
                </div>
                <div class="topPositionUserDefault">
                    <span>#1</span>
                </div>
            </div>
        </div>
        <div class="topUser">
            <div class="userImage">
                <img src="./img/logo.png" alt="">
            </div>
            <div class="userAboutWrapper">
                <div class="nameSurnameUser">
                    <span>Имя Фамилия</span>
                </div>
                <div class="xpCountDefaultUser">
                    <span>1337 XP</span>
                </div>
            </div>
            <div class="ClubLogoAndPositionUser">
                <div class="clubUserLogo">
                    <img src="./img/logo.png" alt="">
                </div>
                <div class="topPositionUserDefault">
                    <span>#1</span>
                </div>
            </div>
        </div>
    </div>
</main>
<!-----------------------------------main----------------------------------------->